.headerMain {
    justify-content: space-evenly;

}

.box1 {
    padding: 37px 30px 0px 37px;
    box-shadow: 2px 2px 5px grey;
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.box1 a {
    margin-top: 37px;
}

a {
    text-decoration: none;
}

.brandtv {
    padding: 20px;
    place-content: center;
}

.brand {
    justify-content: space-around;
}

.box2 {
    padding: 5px;
    box-shadow: 2px 2px 5px grey;
    height: fit-content;
    background-color: white;

}

.box3 {
    padding: 14px;
    box-shadow: 2px 2px 5px grey;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
}

.box4 {
    border: 2px solid rgb(14, 11, 12);
}


.scroolImg {
    /* border: 2px solid grey; */
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    background-color: white;
    height: 295px;
}

.producthor {
    display: flex;
    overflow: hidden;
    min-height: 200px;
    margin-top: 40px;
}

.producthor:hover {
    overflow-x: scroll;
}

.scroolImg2 {
    /* border: 2px solid grey; */
    padding: 20px;
    background-color: white;
    height: 295px;
    width: 90%;
    margin: 40px auto;
}