.footer{
    background-color: #232f3e;    
    color: white;
    height: 400px;
}

.footerContent{
    margin-left: 10%;
    padding-top: 5%;
}

.titlefoot{
        font-size: 25px;
        text-align: start;
        margin-left: 10%;
        font-weight: 500;
   
}

.footer ul li {
    font-size: 20px;
}

.finalFooter ul li {
    font-size: 12px;
    color: rgb(154, 148, 148);
}


.finalFooter{
    background-color: #131A22;    
    color: white;
    height: 450px;
}

.titlefoot{
    font-size: 18px;
    text-align: start;
    margin-left: 10%;
    font-weight: 500;

}

.footerContent1{
    margin-left: 10%;
    padding-top: 5%;
}

.footerContent3{
    margin-left: 10%;
}



.titlefoot1{
    font-size: 18px;
    text-align: start;
    margin-left: 10%;
    font-weight: 500;

}

p{
    text-align: center;
}

.endtext{
    text-align: center;
    font-size: 20px;
    margin-top: 80px;
}

@media only screen and (min-width: 1080px) and (max-width: 1440px) {

    .footerContent {
        margin-left: 7%;
        padding-top: 5%;
    }

    .footer ul li {
        font-size: 14px;
    }

    .titlefoot {
        font-size: 19px;
        text-align: start;
        margin-left: 12%;
        font-weight: 500;
    }


    .footerContent1 {
        margin-left: 8%;
        padding-top: 5%;
    }

    .footerContent3 {
        margin-left: 8%;
        padding-top: 5%;
    }

    .titlefoot1 {
        font-size: 14px;
        text-align: start;
        margin-left: 8%;
        font-weight: 500;
    }

    .footerContent3 {
        margin-left: 8%;
        padding-top: 0%;
    }

}