.mainNav{
    background-color: #131A22;
}
.imgLogo{
  margin: 8px 0px 0 5px;
}

.locationicon {
    display: flex;
    color: white;
}
.location {
  display: flex;
  align-items: self-end;
}

.test {
  background: linear-gradient(to top, rgba(115, 219, 235, 0.549) 110%, rgba(115, 219, 235, 0.549) 75%, white 75%);
  height: 120vh;
}
.locicon{
    margin: 25px 3px 0 0;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 30px;
    width: 40%;
  }

  .search-filter{
  padding: 9px;
  border-radius: 5px 0 0 5px;
  }
  
  .searchbar {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 0 5px  5px 0;

  }
  
  .searchbar + img {
    margin-left: 8px; /* Adjust as needed */
    background-color: #FEBD69;
  }

  .flg{
    color: white;
    align-items: center;
  }

  .paraflg{
margin: 5px;
  }

.profile{
  color: white;
  margin: 10px 0 0 20px;
}


.textp{
  font-size: 13px !important;
}


.textH5{
  font-size: 17px !important;
}


.cart{
  align-items: center;
  color: white;
  margin: 0 0 0 35px;
}


.megaMenu{
  background-color: #131a22d6;
  height: 40px;
}

ul {
  list-style: none;
  color: white;
  
}

li{
  margin-right: 20px;
}

.megaMenu{
  padding: 7px
}

.burgericon{
  margin-right: 15px;
  margin-top: 3px;
}

.ban{
  height: 40vh;
  width: 100%;
}


.btncarousel {
  /* background-color: black !important; */
  height: 12% !important;
  width: 10% !important;
}

/* .carousel-control-prev-icon {
  font-size: 32px !important; 
} */

.carouselMain{
  position: relative;
}


.headerMain {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%,-130%);
}




@media (max-width: 576px) {
  .headerMain {
    position: absolute;
    width: 92%;
    left: 50%;
    transform: translate(-47%, -48%);
}

.endMenu{
  display: none;
}


.megaMenu {
  overflow: hidden;
  padding: 10px 10px;
  overflow-x: scroll;
  font-size: 17px;
}

.mainNav {
  background-color: #131A22;
  height: 156px;
}

.imgLogo {
  margin: 0px 0px 0 -10px;
}

.locationicon , .flg img ,.profile , .paraflg{
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
  margin: 58px -118px;
  width: 39%;
}

.cart {
  align-items: center;
  color: white;
  margin: -106px 0 0 297px;
}

.searchbar {
  flex: 1 1;
  padding: 8px 94px 8px 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  /* width: 128%; */
}

.ban {
  height: 20vh;
  width: 100%;
}


}


  @media (min-width: 577px) and (max-width: 991px) {
    .headerMain {
      position: absolute;
      width: 100%;
      left: 50%;
      transform: translate(-50%, -38%);
  }
  }





/* Styles for 14-inch laptop */
@media only screen and (min-width: 1080px) and (max-width: 1440px) {
  .imgLogo {
    height: 41px;
    width: 87px;
}

.location {
  display: flex;
  align-items: end;
  margin-bottom: 21px;
  font-size: 13px;
}

.locicon {
  margin: 20px 2px 0 0;
}

.textH5 {
  font-size: 15px !important;
}

.megaMenu {
  padding: 7px;
  font-size: 12px;
}

.burgericon {
  margin-right: 15px;
  margin-top: -1px;
}

h5 {
  font-size: 1rem;
}


.headerMain {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -115%);
}
.img1 {
  height: 244px;
  width: 262px;
}

.brandtv {
  padding: 7px;
  place-content: center;
}

.box1 {
  padding: 15px 0px 22px 28px;
  box-shadow: 2px 2px 5px grey;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: white;
}

}
